{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="card-header">
            <h2>Reset Password</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div>
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
            <div class="text-center">
                <p> Know your login details? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}